<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio</title>
    <link rel="stylesheet" href="/css/inicio.css">
</head>
<body>
    <nav class="navbar">
        <a href="/agregar-producto"><button class="button">Vende tu producto</button></a>
        <a href="/conocenos"><img src="/images/logo.jpg" alt="Logo" class="logo"></a>
    </nav>
    <div class="container">
        <h1 class="title">Bienvenido</h1>
        <div class="button-container">
            <a href="/dibujo-tecnico" class="button">Dibujo Técnico</a>
            <a href="/programacion" class="button">Programación</a>
            <a href="/mecatronica" class="button">Mecatrónica</a>
            <a href="/sistemas-digitales" class="button">Sistemas Digitales</a>
        </div>
    </div>
</body>
</html>


